* {
  font-size: 62.5%; /*10px*/
}

.main-container {
  max-width: 37.5rem;
  height:261.5rem;

  /* margin: auto; */
}

body {
  font-size: 1.6rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
  width: 34.3rem;
  height: 4.8rem;
  margin: 1.6rem 1.6rem 3.8rem 1.6rem;

  display: flex;
  justify-content: space-between;
}

header .logo-header {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #13183F;

}

header .callToAction-header {
  width: 14rem;
  height: 4.8rem;

  background: #13183F;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2.8rem;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #FFFFFF;

}

h1 {
width: 34.3rem;
height: 10.1rem;

margin: 0 1.6rem 2.6rem 1.6rem;

font-style: normal;
font-weight: 800;
font-size: 4.0rem;
line-height: 5.0rem;
color: #13183F;
}

.text-introduction {
  width: 34.3rem;
  height: 7.8rem;

  margin: 0 1.6rem 2.4rem 1.6rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #83869A;

}

.callToAction-introduction {
  width: 16.7rem;
  height: 5.6rem;

  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 3.15rem;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #FFFFFF;

  margin: 0 19.2rem 4.6rem 1.6rem;
}

.introduction .img-mobile {
  display: block;
}

.introduction .img-tablet {
  display:none;
}

.introduction .img-pc {
  display: none;
}

.courses {
  width: 37.5rem;
  height: 169.5rem;

  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

.courses .popular-courses {
  width: 34.3rem;
  height: 12rem;

  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 1rem;

  font-style: normal;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 1.6rem 1.6rem 1.6rem;
}

.text-popular-courses {
  width: 28.6rem;
  height: 6.4rem;
}

.card-animation,
.card-design,
.card-photography,
.card-crypto,
.card-business {
  width: 34.3rem;
  height: 28.3rem;

  margin: 40px 1.6rem 1.6rem 1.6rem;

  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
}

.card-animation .icon,
.card-design .icon,
.card-photography .icon,
.card-crypto .icon,
.card-business .icon {
  margin: -20px 25.9rem 2.4rem 2.8rem;
}

.card-animation h3,
.card-design h3,
.card-photography h3,
.card-crypto h3,
.card-business h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 2.0rem;
  line-height: 2.5rem;
  color: #13183F;

  margin: 0 21.4rem 1.6rem 2.8rem;
} 

.card-animation .card-text,
.card-design .card-text,
.card-photography .card-text,
.card-crypto .card-text,
.card-business .card-text {
  width: 28.6rem;
  height: 7.8rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #83869A;

  margin: 0 2.9rem 2.4rem 2.8rem;

}

.card-animation .card-callToAction,
.card-design .card-callToAction,
.card-photography .card-callToAction,
.card-crypto .card-callToAction,
.card-business .card-callToAction {
 
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #F74780;

  margin: 0 21.1rem 3.2rem 2.8rem;

}

footer {
  width: 37.5rem;
  height: 12rem;

  background: #13183F;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .logo-footer {
  
  font-style: normal;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #FFFFFF;

  margin-left: 1.6rem;

}

footer .callToAction-footer {
  width: 14rem;
  height: 4.8rem;

  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  border-radius: 2.8rem;
  border: none;

 
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #FFFFFF;

  margin-right: 1.6rem;

}

/* MEDIA QUERIES */

 @media screen and (min-width: 768px){ 

  header {
    width: 68.9rem;
    height: 4.8rem;
    margin: 2.4rem 4rem 9.9rem 0;
  
    display: flex;
    justify-content: space-between;
      
  }

  header .logo-header {
    margin-left: 3.9rem;
  }

  header .callToAction-header {
    margin-right: 4rem;
  }
  
  .introduction .img-mobile {
    display: none;
  }
  
  .introduction .img-tablet {
    display: block;
  }
  
  .introduction .img-pc {
    display: none;
  }

  .introduction {
    display: flex;
  }

  button .callToAction-header {
    width: 100px;
  }

 }





