* {
  font-size: 62.5%; /*10px*/
}

.main-container {
  max-width: 37.5rem;
  height:261.5rem;

  /* margin: auto; */
}

body {
  font-size: 1.6rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
  width: 34.3rem;
  height: 4.8rem;
  margin: 1.6rem 1.6rem 3.8rem 1.6rem;

  display: flex;
  justify-content: space-between;
}

header .logo-header {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #13183F;

}

header .callToAction-header {
  width: 14rem;
  height: 4.8rem;

  background: #13183F;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2.8rem;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #FFFFFF;

}

h1 {
width: 34.3rem;
height: 10.1rem;

margin: 0 1.6rem 2.6rem 1.6rem;

font-style: normal;
font-weight: 800;
font-size: 4.0rem;
line-height: 5.0rem;
color: #13183F;
}

.text-introduction {
  width: 34.3rem;
  height: 7.8rem;

  margin: 0 1.6rem 2.4rem 1.6rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #83869A;

}

.callToAction-introduction {
  width: 16.7rem;
  height: 5.6rem;

  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 3.15rem;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #FFFFFF;

  margin: 0 19.2rem 4.6rem 1.6rem;
}

.introduction .img-mobile {
  display: block;
}

.introduction .img-tablet {
  display:none;
}

.introduction .img-pc {
  display: none;
}

.courses {
  width: 37.5rem;
  height: 169.5rem;

  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

.courses .popular-courses {
  width: 34.3rem;
  height: 12rem;

  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 1rem;

  font-style: normal;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 1.6rem 1.6rem 1.6rem;
}

.text-popular-courses {
  width: 28.6rem;
  height: 6.4rem;
}

.card-animation,
.card-design,
.card-photography,
.card-crypto,
.card-business {
  width: 34.3rem;
  height: 28.3rem;

  margin: 40px 1.6rem 1.6rem 1.6rem;

  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
}

.card-animation .icon,
.card-design .icon,
.card-photography .icon,
.card-crypto .icon,
.card-business .icon {
  margin: -20px 25.9rem 2.4rem 2.8rem;
}

.card-animation h3,
.card-design h3,
.card-photography h3,
.card-crypto h3,
.card-business h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 2.0rem;
  line-height: 2.5rem;
  color: #13183F;

  margin: 0 21.4rem 1.6rem 2.8rem;
} 

.card-animation .card-text,
.card-design .card-text,
.card-photography .card-text,
.card-crypto .card-text,
.card-business .card-text {
  width: 28.6rem;
  height: 7.8rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #83869A;

  margin: 0 2.9rem 2.4rem 2.8rem;

}

.card-animation .card-callToAction,
.card-design .card-callToAction,
.card-photography .card-callToAction,
.card-crypto .card-callToAction,
.card-business .card-callToAction {
 
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #F74780;

  margin: 0 21.1rem 3.2rem 2.8rem;

}

footer {
  width: 37.5rem;
  height: 12rem;

  background: #13183F;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .logo-footer {
  
  font-style: normal;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #FFFFFF;

  margin-left: 1.6rem;

}

footer .callToAction-footer {
  width: 14rem;
  height: 4.8rem;

  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  border-radius: 2.8rem;
  border: none;

 
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #FFFFFF;

  margin-right: 1.6rem;

}

/* MEDIA QUERIES */
/*FOR TABLET DEVICES*/

 @media screen and (min-width: 768px){ 

  header {
    width: 68.9rem;
    height: 4.8rem;
    margin: 2.4rem 4rem 9.9rem 0;
  
    display: flex;
    justify-content: space-between;
      
  }

  header .logo-header {
    margin-left: 3.9rem;
  }

  header .callToAction-header {
    margin-right: 4rem;
  }

  .introduction .text-introduction-section {
    margin-left: 3.9rem;
  }

  .introduction {
    display: flex;
  }
  
  .introduction .img-mobile {
    display: none;
  }
  
  .introduction .img-tablet {
    display: block;
    width: 66rem;
    height: 64rem;

    
    position: absolute;
    left: 530px;
    top: -92px;

  }
  
  .introduction .img-pc {
    display: none;
  }


  button .callToAction-header {
    width: 100px;
  }

  .icon {
    width: 56px;
    height: 56px;
  }

  .courses {
    width: 68.9rem;
    height: 91.3rem;

    margin-top: 9.3rem;
    margin-bottom: 8.6rem;

    display: grid;
    grid-template-areas: "P P A A"
                         "D D F F"
                         "C C B B";
  }

  .courses .popular-courses {
    width: 33.9rem;
    height: 28.3rem;
    border-radius: 10px;
    text-align: start;

    margin-top: 40px;
  }

  .courses .popular-courses .text-popular-courses {
    margin: 5.6rem 2rem 14rem 3.2rem;
  }

  .card-animation,
  .card-design,
  .card-photography,
  .card-crypto,
  .card-business {
  width: 33.9rem;
  height: 28.3rem;
  

  }


  .popular-courses {
    grid-area: P;
  }

  .card-animation {
    grid-area: A;
  }

  .card-design {
    grid-area: D;
  }

  .card-photography {
    grid-area: F;
  }

  .card-crypto {
    grid-area: C;
  }

  .card-business {
    grid-area: B;
  }

  footer {
    width: 76.8rem;
    height: 12rem;

  }

  .footer-container {
    width: 68.9rem;
    height: 4.8rem;
  }
  
 }

 /*FOR DESKTOP DEVICES*/

 @media screen and (min-width:1440px){
  
 
  header .callToAction-header {
   position: absolute;
   right: 16.5rem;
   left: 88.8rem;
   z-index: 1;
  }

  .introduction .text-introduction-section {
    margin-bottom: 22.6rem;
  }


  .introduction .img-mobile {
    display: none;
  }
  
  .introduction .img-tablet {
    display: none;
    
  }
  
  .introduction .img-pc {
    display: block;
    position: absolute;
    left: 784px;
    top: -260.13px;


    width: 99.16rem;
    height: 94rem;
  }

  .courses {
    width: 111rem;
    height: 74.8rem;
  }

  .courses .popular-courses {
    width: 33.9rem;
    height: 28.3rem;
    border-radius: 10px;
    text-align: start;

    margin-top: 40px;
  }

  .courses .popular-courses .text-popular-courses {
    margin: 5.6rem 2rem 14rem 3.2rem;
  }

  .card-animation,
  .card-design,
  .card-photography,
  .card-crypto,
  .card-business {
  width: 33.9rem;
  height: 28.3rem;
  
  }

  .courses {
    width: 111rem;
    height: 74.8rem;

    /* margin-top: 83.7rem; */
    margin-bottom: 14rem;

    display: grid;
    grid-template-areas: "P P A A D D"
                         "F F C C B B";
                        
  }

  footer {
    width: 144rem;
    height: 12rem;

  }

  .footer-container {
    width: 111rem;
    height: 5.6rem;
  }

  }


 @media screen and (min-width: 1680px){ 

  header .callToAction-header {
    position: absolute;
    right: 27.5rem;
    z-index: 1;
   }

  .introduction .img-pc {
    display: block;
    position: absolute;
    /* left: 1020rem; */
    top: -14.41rem;

  
    max-width: 99.16rem;
    height: 70rem;
  }

  .courses  {
    
    margin-top: -11.4rem;
  }
 
  .footer-container {
    width: 120rem;
    height: 6rem;
  }

}